<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> &#x1F60D;</h1>
    <a class="links" href="/">Home</a>
    <a class="links" href="/new">New Message</a>
    <br><br>
    <p>Welcome to the <%= title %></p>
    <% const thingy = "Read some messages or leave some new ones :)"; %>
    <p><%= thingy %></p>
  </body>
</html>
